include ../../mixin/title.pug
+title('Discover','Whether you want to challenge your boundaries or are solely looking for a relaxing and unique way to see areas of our great wilderness that lay off the beaten track, ')
include ./slide-discovery.pug