.wrapper-child.pr-3.pr-md-5.pl-126
    section.glenorchy
        .glenorchy-title
            h1 Why Glenorchy?
        .glenorchy-content
            .row.text-justify.text-md-left
                .col-md-6.col-12
                    p Whether you want to challenge your boundaries or are solely looking for a relaxing 
                        |and unique way to see areas of our great wilderness that lay off the beaten track, 
                        |we can cater for you. Our fun packed packrafting day trip is created as an overall 
                        |outdoors experience. Hike, climb, swim, play, raft or simply float and take in the 
                        |breathtaking scenery, armed with your own paddle, a packraft and walking boots the 
                        |opportunities are endless. With these lightweight boats you'll be able to access some 
                        |of the most remote and undisturbed rivers in the Southern Hemisphere, these hidden gems 
                        |would usually be unreachable with conventional boats and kayaks alone. Each morning we 
                        |decide upon the best rivers and trails to use based on the water levels and the group's 
                        |ability.
                .col-md-6.col-12
                    p.mr-0.mr-md-5 Your guides will tailor the trip to the group's strengths and need for adventure, you will 
                        |find out how to inflate the boats (which is a surprising and revolutionary technique), be 
                        |given a full safety briefing and taught skills to control them in the ever changing rivers. 
                        |Then with a guided tour down the river, it's entirely up to you whether you want to sit back 
                        |and float serenely, frolic on the riverbank or go on the hunt for some rapids to play in. 
                        |The adventure is all yours!
.wrapper-child.px-3
    .glenorchy-img
        img(src="./assets/imgs/glenorchy/glenorchy.jpg", alt="glenorchy")