include ../../mixin/title.pug
+title('Upcoming Events','Whether you want to challenge your boundaries or are solely looking for a relaxing and unique way to see areas of our great wilderness that lay off the beaten track')
    a(href="#").arrow VIEW ALL
.wrapper-child.pl-126.pr-3
    .upcoming-imgs
        .row
            .col-md-6.col-12
                .gallery_item
                    a(href="./events.html")
                        img(src="./assets/imgs/upcoming/upcoming-1.jpg", alt="upcoming-1")
                        .gallery-text
                            hr
                            .content
                                p.text-14 MARCH 14 - 27 2021
                                    .d-flex.justify-content-between.align-items-center.flex-wrap
                                        h3.font-weight-bold.m-0 Night Market
                                        a(href="#").transparent.px-4.py-2.mb-0 Book Now
            .col-md-6.col-12.pt-4.pt-md-0
                .gallery_item
                    a(href="./events.html")
                        img(src="./assets/imgs/upcoming/upcoming-2.jpg", alt="upcoming-2")
                        .gallery-text
                            hr
                            .content
                                p.text-14 MARCH 14 - 27 2021
                                    .d-flex.justify-content-between.align-items-center.flex-wrap
                                        h3.font-weight-bold.m-0 Sky Trip
                                        a(href="./events.html").transparent.px-4.py-2.mb-0 Book Now
                    