.hero-banner{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
    }
    .swiper-wrapper{
        height: 594px;
    }
    .swiper-slide {
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .hero-banner-content{
        position: absolute;
        left: 110px;
        border-top: 2px solid $light-color;
        width: 609px;
        h2{
            padding-top: 45px;
            padding-bottom: 10px;
            color: $light-color;
            font-size: 60px;
            letter-spacing: 1.5px;
            text-align: left;
            font-family: BasisGrotesque-Medium;
            width: 561px;
        }
        @include respond-to(280){
            h2{
                font-size: 16px;
            }
        }
        @include respond-to(767){
            left: 20px;
            width: 200px;
            h2{
                padding-top: 20px;
                padding-bottom: 10px;
                font-size: 30px!important;
                width: 200px;
            }
            a{
                padding: 5px 15px;
                font-size: 12px;
            }
        }
        @include respond-to(768){
            left:50px;
        }
    }
    @include respond-to(767){
        padding-right: 0;
        padding-left: 0;
        .swiper-slide{
            height: 250px;
        }
        .swiper-wrapper{
            height: 250px;
        }
    }

}
.swiper-pagination{
    padding-right: 40px;
    span{
        width: 9px;
        height: 9px;
        border-radius: 0;
        background: $light-color;
        opacity: 1;
    }
    .swiper-pagination-bullet-active{
        background: $dot-span;
    }
    @include respond-to(767){
        padding-right: 10px;
        span{
            width: 5px;
            height: 5px;
        }
    }
}
.transparent{
    @include transparent($light-color,$light-color);
    font-weight: 500;
}