extends ./parts/layout.pug

prepend meta
    title Namtech - Contact Page

block main-wrapper
    h1.d-none Contact
    include ./mixin/banner.pug
    +banner('./assets/imgs/contact.jpg','banner','Get in touch')
    .wrapper-child.pl-126.pr-126
        .info-contact
            .info-contact__context
                .find-us
                    hr
                    h4 How To Find Us
                    p It is easy to escape the high adrenline and action packed down of queenstown and find yourself immeresd in the natural surrounding of Glenorchy’s hight country.
                .distance
                    h4 Distance
                    p Glenorchy is only one hour scenic drive from Queenstown Airport.
            .info-contact__context
                hr
                h4 Transport To And From Glenorchy
                p Glenorchy information center located at Glenorchy Hotel can organise transport from queenstown to Glenorchy and then onto one of the multi day walking tracks in the area. After hours transport can be arranged. For more information on the walking tracks click here. Book now – Contact us for transport information and bookings.
            .info-contact__context
                hr
                h4 All Roads To Glenorchy via Queenstown
                p You have to travel through Queenstown to reach Glenorchy, which will give you an excellent opportunity to look round the shop and resturants in the center,or to take a trip out to the gold rush town to Arrowston
        .contact-box
            .travel-plan
                .plan
                    hr
                    h4 New Zealand Accomodation & Travel Plans
                    p During the main travel season (december to april) it is imperative that you are organise your accomodation and main activities prior to arriving, this will ensure your travel plans are not disrupted and will avoid disappointment. Booking and reservations can be made at Glenorchy Information Center located at Glenorchy Hotel.
                    p To help these plans we can recommend and organise your transpoort, accommodation and activities. We Recommend you contact us with an outline of your proposed journey.
                .information
                    hr
                    p PO Box 86, Glenorchy, New Zealand <br/>
                    a(href="mailto:info@glenorchyinfocenter.co.nz") info@glenorchyinfocenter.co.nz
                    a(href="tel:034092048") Phone: (O) 3 409 2049 ext 0064 <br/>
                    a(href="tel:034429912") Fax(O)3 442 9912
            .contact-input
                hr
                h4 Send us a message
                form()
                    label(for='information') Information
                    .name-phone-box
                        input#fname(type='text' name='fullname' placeholder='Full Name')
                        input#phone(type='text' name='phonenumber' placeholder='Phone')
                    .email-company-box
                        input#email(type='email' name='email' placeholder='Email')
                        input#company(type='text' name='companyname' placeholder='Company')
                    label(for='message') Message
                    textarea#subject(name='message' placeholder='Write Message here' style='height:200px')
                    input(type='submit' value='SEND')

        