extends ./parts/layout.pug

prepend meta
    title Namtech - Fishing Info

block main-wrapper
    h1.d-none Fishing Info
    include ./mixin/banner.pug
    +banner('./assets/imgs/fishing-info.jpg','banner','Fishing')
        a(href="./activities.html").arrow-back Back to Activities
    .wrapper-child.pl-126.pr-126
        .activities-info-block
            p.content   For anglers and fly fisherman, Lake Wakatipu has an abundance of landlocked Salmon, 
                |Rainbow Trout and Brown Trout. The clear waters flowing through the surrounding rivers and tributaries – 
                |such as the Routeburn, Rees, Dart, Greenstone and Caples – offer some of the best high country fishing.
            .contactus
                a(href="./contact.html") Contact Us
    .wrapper-child.px-3
        hr
        .fishing.pl-110.pr-110
            .row
                .col-md-5.col-12
                    .fishing-content
                        h3 Fishing licences
                        p Fishing licences are required at all times and are available 
                            |from Glenorchy Information Centre. You can also get fishing 
                            |licenses online from Fish and Game New Zealand. Fishing equipment 
                            |is available for hire or sale at the Glenorchy Information Centre.
                        p Alongside your season fishing license you will also need:
                        ul
                            li A Backcountry Fishing License – applies to Greenstone and Caples River catchments.
                            li A Controlled Fishery License – applies only to those fishing the Greenstone River.
                .col-md-7.col-12.mt-md-0.mt-5
                    .fishing-content
                        h3 The Backcountry License
                        p All anglers you fish in the Greenstone River catchment – including the 
                            |Caples River and all tributaries upstream of the bridge at the Greenstone 
                            |Car Park – will require a Backcountry Fishing License in addition to a Whole 
                            |Season or Family Fishing License.
                        p The Backcountry License is available at no extra cost. Licenses are available 
                            |from Glenorchy Information Centre or Southland and Otago Fish and Game Councils.
                        p Backcountry License holders can fish in any of the listed rivers at any time during 
                            |their open season except for the controlled fishery period in the Greenstone. They 
                            |are expected to cooperate in the collection of information on their angling experience 
                            |if requested to by Fish &#38; Game.
            .row.mt-5
                .col-md-5.col-12
                    .fishing-content
                        h3 Didymo
                        p Didymo or ‘rock snot’ is a microscopic algae currently present in the Von, Hawea and 
                            |Clutha River and Lake Dunstan.
                        p It can be spread through a single drop of water, so all those using waterways anywhere 
                            |in the South Island will be required to clean all equipment (including boats, trailers 
                            |and clothing) before moving from waterway to another.
                        p For more information contact the Department of Conservation, Fish and Game New Zealand or 
                            |Biosecurity New Zealand.
                .col-md-7.col-12.mt-md-0.mt-5
                    .fishing-content
                        h3 Local Knowledge
                        p We all know local knowledge helps. Gordon Watson family have lived in 
                            |Glenorchy for six generation and he has been located at the head of 
                            |Lake Wakatipu his whole life, spending much of it chasing Trout in 
                            |local waters.
                        p Guiding comes naturally to Gordon. His grandfather took him under his wing 
                            |at a young age and taught him not only how to fly fish, but the art of being 
                            |a consummate guide.
                        p From Spring creeks, freestone rivers and high country lakes, to lagoon fishing, 
                            |Gordon has perfected the art of customising and itinerary that suits his clients’ 
                            |needs, preferences and abilities. Whether you want to go on a day trip, heli-fishing 
                            |or an overnight fishing excursion, Gordon can get you on the water.
                        p “Giving people life long memories is what I love to do”
    .wrapper-child.px-3
        .fishing-img
            img(src="./assets/imgs/glenorchy/glenorchy.jpg", alt="glenorchy")
    .wrapper-child
        .fishing-locations
            .fishing-locations__title
                h3 Fishing locations
            .fishing-locations__items
                -
                    let items = [
                        {title: "Dart River", content: "Bag limit 1 fish; Artifical fly or spinner only. Fishing is available in some tributaries and part of the Dart River;", link: "Season: All your round"},
                        {title: "Diamond Creek", content: "Diamond Lake", link: "Season: 1 October to 31 May"},
                        {title: "Diamond Lake", content: "Bag limit 3 fish; Artifical fly or spinner only;", link: "Season: All your round"},
                        {title: "Glenorchy Lagoon", content: "Bag limit 1 fish; Artifical fly or spinner only;", link: "Season: 1 October to 30 April"},
                        {title: "Greenstone River", content: "Bag limit 1 fish; Flyfishing Only", link: "Season: All your round"},
                        {title: "Lake Sylvan", content: "Bag limit 6 fish; All legal methods", link: "Season: All your round"},
                        {title: "Lake Wakatipu", content: "Bag limit 6 fish; All legal methods of fishing allowed", link: "Season: All your round"},
                        {title: "Rees River", content: "Bag limit 6 fish; Fly Fishing only. There are limited opportunities for trout fishing in the mid Rees; Season 1 November to 31 May. Rees river downstream from Muddy Creek; Artificial fly or spinner only;", link: "Season: All your round"},
                        {title: "Reid lake", content: "Bag limit 3 fish;Artifical fly or spinner only;", link: "Season: All your round"},
                        {title: "Routeburn River", content: "Compulsory catch and release; Fly fishing only;", link: "Season: 1 November to 31 May"},
                        {title: "Didymo", content: "Didymo is a microscopic alga currently present in the Von, Hawea, Clutha Rivers and Lake Dunstan. <p>All those using waterways anywhere in the South Island will be required to clean and dry all equipment and clothing before moving from one water system to another. A cleaning station for all the equipment is available at the front entrance to the Glenorchy Hotel.", link: ""},
                    ]
                for item in items
                    .item
                        hr
                        h6= item.title
                        p !{item.content}
                        a(href="#")= item.link
    .wrapper-child.px-3
        hr
    include ./parts/components/other-activity.pug